<div class="jumbotron">
	<h1>Welcome to Datasmusher!</h1>
	<p>
		Datasmusher provides a solution for converting your school's data.  Are you a teacher or school administrator?  Does you have difficulty converting test scores and other files to one uniform, storeable dataset?  Fear no more, Datasmusher is here!
	</p>
	<p>
		<%= link_to "Explore Design", design_path , class: "btn btn-default btn-med" %>
		<%= link_to "Get Started", schools_path , class: "btn btn-primary btn-med" %>
	</p>
	<h4 class="small">
		Datasmusher is currently still in early prototyping stages.  Explore Design to see what we're planning to build, or Get Started to check out what we've got so far.
	</h4>


</div>

<p>
	Also, right now it is <%= Time.now %>
</p>